.container{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.title{
    text-align: center;
}


.subtitle{
    margin-left: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.fieldset{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    column-gap: 150px;
}

.input{
    margin-left: 20px;
}

.button{
    margin-left: 50%;
    width: 50%;
}